.nav {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}

.header-list ul {
  display: flex;
}
.header-list ul li {
  list-style: none;
  padding: 10px;
}
.header-list ul li a {
  text-decoration: none;
  color: black;
}
.logo a {
  text-decoration: none;
  color: black;
}

.err {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
}

.suc {
  background-color: green;
  color: white;
  padding: 5px;
  text-align: center;
}
